#activeStatus {
  margin-right: 10px;
}

.back-button a {
  color: #FFFFFF;
}

.button-group {
  position: absolute;
  right: 0;
  margin-bottom: 20px;
}

.warning-text p {
  color: red;
  text-align: cente;
  margin-top: 5px;
}
