<div class="container-fluid col-md-6">
  <h3 *ngIf="title" class="text-center lead">{{ title }}</h3>
  <br />
  <div *ngIf="alertMessage" class="alert alert-warning" role="alert">
    {{ alertMessage }}
  </div>
  <!--Template Driven Form or Model Driven Form?-->
  <form *ngIf="!loading" [formGroup]="memberForm" (ngSubmit)="onSubmit(memberForm)">
    <fieldset>
      <div class="row">
        <div class="col-md-6">
          <input
            type="text"
            class="form-control"
            id="firstName"
            placeholder="First Name"
            formControlName="firstName"
          />
        </div>
        <div class="col-md-6">
          <input
            type="text"
            class="form-control"
            id="lastName"
            placeholder="Last Name"
            formControlName="lastName"
          />
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-md-6">
          <input
            type="text"
            class="form-control"
            id="jobTitle"
            placeholder="Job Title"
            formControlName="jobTitle"
          />
        </div>
        <div class="col-md-6">
          <input *ngIf="action === 'READ'; else dropDown"
            type="text"
            class="form-control"
            [value]="memberForm.controls.team.value"
            disabled
          />
          <ng-template #dropDown>
            <select id="team" class="custom-select" formControlName="team">
              <option>{{ selectedTeam }}</option>
              <option *ngFor="let option of teams" >
                {{ option.teamName }}
              </option>
            </select>
          </ng-template>
        </div>
      </div>
      <br />
      <div class="form-group col-md-6">
        <div class="row">
          <label id="activeStatus" class="md-check lead">
            <input type="radio" value="Active" name="status" formControlName="status" /> Active
          </label>
          <label class="md-check lead">
            <input type="radio" value="Inactive" name="status" formControlName="status" /> Inactive
          </label>
        </div>
      </div>
    </fieldset>
    <!--Disable if form is invalid-->
    <button type="submit" [disabled]="!memberForm.valid" class="btn btn-primary pull-right">
      Save Member
    </button>
  </form>
</div>
