<div class="container-fluid col-md-6 mb-4">
  <div class="row mb-4">
    <div class="col-md-8">
      <h3 *ngIf="title" class="my-4 lead">{{ title }}</h3>
    </div>
    <div class="col-md-4">
      <button routerLink="/members" id="back"
        class="mt-2 btn btn-primary pull-right back-button">Back to Member List
      </button>
    </div>
  </div>
  <!-- Reactive Form -->
  <form *ngIf="!loading" id="#memberForm" [formGroup]="memberForm"
    (ngSubmit)="onSubmit(memberForm)">
    <fieldset>
      <div class="row">
        <div class="col-md-6">
          <input
            type="text"
            class="form-control"
            id="firstName"
            placeholder="First Name"
            formControlName="firstName"
          />
        </div>
        <div class="col-md-6">
          <input
            type="text"
            class="form-control"
            id="lastName"
            placeholder="Last Name"
            formControlName="lastName"
          />
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-md-6">
          <input
            type="text"
            class="form-control"
            id="jobTitle"
            placeholder="Job Title"
            formControlName="jobTitle"
          />
        </div>
        <div class="col-md-6">
          <input *ngIf="action === 'READ'; else dropDown"
            type="text"
            class="form-control"
            [value]="memberForm.controls.team.value"
            disabled
          />
          <ng-template #dropDown>
            <select id="team" class="custom-select" formControlName="team">
              <option>{{ selectedTeam }}</option>
              <option *ngFor="let option of teams" >
                {{ option.teamName }}
              </option>
            </select>
          </ng-template>
        </div>
      </div>
      <br />
      <div class="form-group col-md-6">
        <div class="row">
          <label id="activeStatus" class="md-check lead">
            <input type="radio" value="Active" name="status" formControlName="status" /> Active
          </label>
          <label class="md-check lead">
            <input type="radio" value="Inactive" name="status" formControlName="status" /> Inactive
          </label>
        </div>
      </div>
    </fieldset>
    
    <div class="row mt-2">
      <div class="col-md-8">
        <app-message [message]="alertMessage"></app-message>
      </div>
      <!--Disable if form is invalid-->
      <div class="col-md-4">
        <button type="submit" id="save" [disabled]="!memberForm.valid" class="btn btn-primary mt-2 pull-right">
          Save Member
        </button>
      </div>
    </div>
  </form>
</div>
