<div class="container-fluid col-md-6 mb-4">
  <h3 *ngIf="title" class="my-4 text-center lead">{{ title }}</h3>
  <div class="row mb-4">
    <div class="col-md-8">
      <app-message [message]="alertMessage"></app-message>
    </div>
    <div class="col-md-4">
      <button routerLink="/members" id="back"
        class="mt-2 btn btn-primary pull-right back-button">Back to Member List
      </button>
    </div>
  </div>
  <!--Template Driven Form or Model Driven Form? Reactive Form-->
  <form *ngIf="!loading" id="#memberForm" [formGroup]="memberForm"
    (ngSubmit)="onSubmit(memberForm)">
    <fieldset>
      <div class="row">
        <div class="col-md-6 mb-4">
          <input
            type="text"
            class="form-control"
            id="firstName"
            placeholder="First Name"
            formControlName="firstName"
          />
          <div *ngIf="(f.firstName.dirty || f.firstName.touched) && f.firstName.invalid" class="warning-text">
            <p *ngIf="f.firstName.errors.required">First name is required.</p>
          </div>
        </div>
        
        <div class="col-md-6 mb-4">
          <input
            type="text"
            class="form-control"
            id="lastName"
            placeholder="Last Name"
            formControlName="lastName"
          />
          <div *ngIf="(f.lastName.dirty || f.lastName.touched) && f.lastName.invalid" class="warning-text">
            <p *ngIf="f.lastName.errors.required">Last name is required.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mb-4">
          <input
            type="text"
            class="form-control"
            id="jobTitle"
            placeholder="Job Title"
            formControlName="jobTitle"
          />
        </div>
        <div class="col-md-6 mb-4">
          <input *ngIf="action === 'READ'; else dropDown"
            type="text"
            class="form-control"
            [value]="memberForm.controls.team.value"
            disabled
          />
          <ng-template #dropDown>
            <select id="team" class="custom-select" formControlName="team">
              <option *ngIf="selectedTeam; else choose">{{ selectedTeam }}</option>
              <ng-template #choose>Choose a team</ng-template>
              <option *ngFor="let option of teams" >
                {{ option.teamName }}
              </option>
            </select>
          </ng-template>
        </div>
      </div>
      <br />
      <div class="form-group col-md-6">
        <div class="row">
          <label id="activeStatus" class="md-check lead">
            <input type="radio" value="Active" name="status" formControlName="status" /> Active
          </label>
          <label class="md-check lead">
            <input type="radio" value="Inactive" name="status" formControlName="status" /> Inactive
          </label>
        </div>
        <div *ngIf="f.status.invalid" class="warning-text">
          <p *ngIf="f.status.errors.required">Please select a status.</p>
        </div>
      </div>
    </fieldset>

    <div class="row mt-2 button-group">
      <!--Disable if form is invalid-->
      <button type="submit" id="save" [disabled]="!memberForm.valid"
          class="btn btn-primary">
          Save Member
      </button>
      <button id="edit" *ngIf="(action === 'READ') && member" (click)="editMember(member)"
        class="btn btn-info ml-2">
        Edit Member
      </button>
      <button id="delete" *ngIf="(action !== 'ADD') && member" (click)="deleteMember(member)"
        class="btn btn-danger ml-2">
        Delete Member
      </button>
    </div>
  </form>
</div>
