<div class="container-fluid members-wrapper">
  <div class="row">
    <div class="col-md-8">
      <app-message [message]="alertMessage"></app-message>
    </div>
    <div class="col-md-4">
      <button id="add" class="btn btn-primary mb-4 pull-right"
        (click)="openMemberDetails('ADD')">
        Add Member
      </button>
    </div>
  </div>
  
  <div *ngIf="loading" id="loading">
    Loading members...
  </div>
  <table class="table" *ngIf="!loading">
    <thead>
      <tr>
        <th>Member ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Job Title</th>
        <th>Racing Team</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let member of members'>
        <td>
          <button type="button" class="btn btn-link"
            (click)="openMemberDetails('READ', member)">
            {{member?.id}}
          </button>
        </td>
        <td>
          <button type="button" class="btn btn-link"
            (click)="openMemberDetails('READ', member)">
            {{member?.firstName}}
          </button>
        </td>
        <td>{{member?.lastName}}</td>
        <td>{{member?.jobTitle}}</td>
        <td>{{member?.team}}</td>
        <td>{{member?.status}}</td>
        <td>
          <button class="btn btn-primary mr-2 editButton"
            (click)="openMemberDetails('EDIT', member)">
            Edit
          </button>
          <button class="btn btn-danger deleteButton"
            (click)="deleteMember(member)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
